In [5]:
#for fastai.structured
!pip install fastai==0.7.0

Collecting fastai==0.7.0
  Downloading https://files.pythonhosted.org/packages/50/6d/9d0d6e17a78b0598d5e8c49a0d03ffc7ff265ae62eca3e2345fab14edb9b/fastai-0.7.0-py3-none-any.whl (112kB)
     |████████████████████████████████| 122kB 1.8MB/s eta 0:00:01
Collecting bcolz (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/5c/4e/23942de9d5c0fb16f10335fa83e52b431bcb8c0d4a8419c9ac206268c279/bcolz-1.2.1.tar.gz (1.5MB)
     |████████████████████████████████| 1.5MB 6.2MB/s eta 0:00:01
Requirement already satisfied: pickleshare in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (0.7.5)
Requirement already satisfied: ipython in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (7.5.0)
Collecting pandas-summary (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/6b/00/f7b4d7fd901db9a79d63e88000bd1e12efba4f5fb52608f906d7fea2b18f/pandas_summary-0.0.6-py2.py3-none-any.whl
Requirement already satisfied: certifi in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (2019.3.9)
Requirement already satisfied: bleach in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (3.1.0)
Requirement already satisfied: Jinja2 in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (2.10.1)
Requirement already satisfied: pytz in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (2019.1)
Collecting ipywidgets (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/30/9a/a008c7b1183fac9e52066d80a379b3c64eab535bd9d86cdc29a0b766fd82/ipywidgets-7.4.2-py2.py3-none-any.whl (111kB)
     |████████████████████████████████| 112kB 13.7MB/s eta 0:00:01
Requirement already satisfied: scipy in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (1.3.0)
Collecting simplegeneric (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/3d/57/4d9c9e3ae9a255cd4e1106bb57e24056d3d0709fc01b2e3e345898e49d5b/simplegeneric-0.8.1.zip
Collecting sklearn-pandas (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/1f/48/4e1461d828baf41d609efaa720d20090ac6ec346b5daad3c88e243e2207e/sklearn_pandas-1.8.0-py2.py3-none-any.whl
Collecting html5lib (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/a5/62/bbd2be0e7943ec8504b517e62bab011b4946e1258842bc159e5dfde15b96/html5lib-1.0.1-py2.py3-none-any.whl (117kB)
     |████████████████████████████████| 122kB 18.5MB/s eta 0:00:01
Collecting plotnine (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/84/02/b171c828560aea3a5da1efda464230dac3ef4f4834b88e0bd52ad14a08f0/plotnine-0.5.1-py2.py3-none-any.whl (3.6MB)
     |████████████████████████████████| 3.6MB 8.5MB/s eta 0:00:01
Collecting graphviz (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/af/ae/e1c63ac4c531d69a7960a99af99e184d4f3da15e29f67767c4252bf19cce/graphviz-0.11-py2.py3-none-any.whl
Requirement already satisfied: wcwidth in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (0.1.7)
Requirement already satisfied: webencodings in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (0.5.1)
Requirement already satisfied: numpy in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (1.16.4)
Collecting widgetsnbextension (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/8a/81/35789a3952afb48238289171728072d26d6e76649ddc8b3588657a2d78c1/widgetsnbextension-3.4.2-py2.py3-none-any.whl (2.2MB)
     |████████████████████████████████| 2.2MB 23.7MB/s eta 0:00:01
Collecting isoweek (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/c2/d4/fe7e2637975c476734fcbf53776e650a29680194eb0dd21dbdc020ca92de/isoweek-1.3.3-py2.py3-none-any.whl
Requirement already satisfied: jsonschema in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (3.0.1)
Requirement already satisfied: jedi in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (0.13.3)
Collecting torchtext (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/c6/bc/b28b9efb4653c03e597ed207264eea45862b5260f48e9f010b5068d64db1/torchtext-0.3.1-py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 7.1MB/s eta 0:00:011
Requirement already satisfied: tornado in /home/dc/anaconda3/envs/TDS/lib/python3.7/site-packages (from fastai==0.7.0) (6.0.2)
Collecting torch<0.4 (from fastai==0.7.0)
  Downloading https://files.pythonhosted.org/packages/5f/e9/bac4204fe9cb1a002ec6140b47f51affda1655379fe302a1caef421f9846/torch-0.1.2.post1.tar.gz
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-p61op430/torch/setup.py", line 11, in <module>
        raise RuntimeError(README)
    RuntimeError: PyTorch does not currently provide packages for PyPI (see status at https://github.com/pytorch/pytorch/issues/566).

    Please follow the instructions at http://pytorch.org/ to install with miniconda instead.

    ----------------------------------------
ERROR: Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-p61op430/torch/

In [22]:
os.getcwd()

'/home/dc/TDS'

In [26]:
#!wget http://files.fast.ai/part2/lesson14/rossmann.tgz
import os
from os import path


if not path.exists("rossmann_data"):
    !mkdir rossmann_data
    !wget -P rossmann_data/ http://files.fast.ai/part2/lesson14/rossmann.tgz
    !tar xvf rossmann_data/rossmann.tgz -C rossmann_data


#verify we have files
if not path.exists("rossmann_data/train.csv"):
    print("train.csv not here")
    
print('rossmann download and untar complete')

--2019-06-04 18:20:36--  http://files.fast.ai/part2/lesson14/rossmann.tgz
Resolving files.fast.ai (files.fast.ai)... 67.205.15.147
Connecting to files.fast.ai (files.fast.ai)|67.205.15.147|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7730448 (7.4M) [text/plain]
Saving to: ‘rossmann_data/rossmann.tgz’

rossmann.tgz        100%[===================>]   7.37M   165KB/s    in 62s

2019-06-04 18:21:38 (122 KB/s) - ‘rossmann_data/rossmann.tgz’ saved [7730448/7730448]

googletrend.csv
sample_submission.csv
state_names.csv
store.csv
store_states.csv
test.csv
train.csv
weather.csv

In [112]:
#rossmann
import numpy as np
import pandas as pd
%matplotlib inline
%reload_ext autoreload
%autoreload 2
import fastai
from isoweek import Week
from pandas_summary import DataFrameSummary
#from fastai.structured import *
#from fastai.column_data import *
np.set_printoptions(threshold=50, edgeitems=20)

PATH='rossmann_data/'

In [15]:
def concat_csvs(dirname):
    path = f'{PATH}{dirname}'
    filenames=glob(f"{PATH}/*.csv")
 
    wrote_header = False
    with open(f"{path}.csv","w") as outputfile:
        for filename in filenames:
            name = filename.split(".")[0]
            with open(filename) as f:
                line = f.readline()
                if not wrote_header:
                    wrote_header = True
                    outputfile.write("file,"+line)
                for line in f:
                     outputfile.write(name + "," + line)
                outputfile.write("\n")

In [16]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

In [27]:

tables = [pd.read_csv("rossmann_data/"+fname+'.csv', low_memory=False) for fname in table_names]

In [30]:
from IPython.display import HTML
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [32]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [33]:
len(test), len(train)

(41088, 1017209)

In [34]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [35]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

In [36]:
weather = join_df(weather, state_names, "file", "StateName")

In [37]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [106]:
def add_datepart(df):
    df.Date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day

In [107]:
add_datepart(weather)
add_datepart(googletrend)
add_datepart(train)
add_datepart(test)

In [108]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [109]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [42]:
joined = join_df(train, store, "Store")
len(joined[joined.StoreType.isnull()])

0

In [43]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()])

0

In [44]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()])

0

In [45]:
joined = join_df(joined, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()])

0

In [46]:
joined_test = test.merge(store, how='left', left_on='Store', right_index=True)
len(joined_test[joined_test.StoreType.isnull()])

48

In [59]:
joined.CompetitionOpenSinceYear = joined.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
joined.CompetitionOpenSinceMonth = joined.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
joined.Promo2SinceYear = joined.Promo2SinceYear.fillna(1900).astype(np.int32)
joined.Promo2SinceWeek = joined.Promo2SinceWeek.fillna(1).astype(np.int32)

In [63]:
print(len(joined.CompetitionOpenSinceYear))
print(len(joined.CompetitionOpenSinceMonth))
print(len(joined.Promo2SinceYear))
print(len(joined.Promo2SinceWeek))

1017209
1017209
1017209
1017209

In [92]:

joined.CompetitionOpenSinceYear.head()
print(type(joined.CompetitionOpenSinceYear))
# a series data type is a column or nd.array which as been assigned in index!
#it can be accessed like an array
print(joined.CompetitionOpenSinceYear[0])

<class 'pandas.core.series.Series'>
2008

In [100]:
#a pandas date_time what is a date time format?
import datetime
one =datetime.datetime(2018, 1, 1)
print(type(one))
print(one) #ah default 0,0,0 for hours, mins secs. 
two = pd.to_datetime(datetime.datetime(2018, 8,15))
print(type(two),two)
#what does joined.apply do? to a dataframe? 
print(type(joined))
# what is the format we have in the different columns? and what do we want to convert to? 
#len(joined.CompetitionOpenSinceYear)
for x in range(10):
    print(datetime.datetime(joined.CompetitionOpenSinceYear[x],joined.CompetitionOpenSinceMonth[x],15))
    #print(datetime.datetime(joined.CompetitionOpenSinceYear[x]))

<class 'datetime.datetime'>
2018-01-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2018-08-15 00:00:00
<class 'pandas.core.frame.DataFrame'>
2008-09-15 00:00:00
2007-11-15 00:00:00
2006-12-15 00:00:00
2009-09-15 00:00:00
2015-04-15 00:00:00
2013-12-15 00:00:00
2013-04-15 00:00:00
2014-10-15 00:00:00
2000-08-15 00:00:00
2009-09-15 00:00:00

In [101]:
#removed astype(pd.datetime))
joined["CompetitionOpenSince"] = pd.to_datetime(joined.apply(lambda x: datetime.datetime(
    x.CompetitionOpenSinceYear, x.CompetitionOpenSinceMonth, 15), axis=1))

#.astype(pd.datetime))

In [102]:
joined["CompetitionDaysOpen"] = joined.Date.subtract(joined["CompetitionOpenSince"]).dt.days

In [103]:
joined.loc[joined.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
joined.loc[joined.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [104]:
joined["CompetitionMonthsOpen"] = joined["CompetitionDaysOpen"]//30
joined.loc[joined.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

In [ ]:
#.astype(pd.datetime)
joined["Promo2Since"] = pd.to_datetime(joined.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
joined["Promo2Days"] = joined.Date.subtract(joined["Promo2Since"]).dt.days

In [ ]:
joined.loc[joined.Promo2Days<0, "Promo2Days"] = 0
joined.loc[joined.Promo2SinceYear<1990, "Promo2Days"] = 0

In [ ]:
joined["Promo2Weeks"] = joined["Promo2Days"]//7
joined.loc[joined.Promo2Weeks<0, "Promo2Weeks"] = 0
joined.loc[joined.Promo2Weeks>25, "Promo2Weeks"] = 25
joined.Promo2Weeks.unique()

In [ ]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [ ]:
class elapsed(object):
    def __init__(self, fld):
        self.fld = fld
        self.last = pd.to_datetime(np.nan)
        self.last_store = 0
        
    def get(self, row):
        if row.Store != self.last_store:
            self.last = pd.to_datetime(np.nan)
            self.last_store = row.Store
        if (row[self.fld]): self.last = row.Date
        return row.Date-self.last

In [ ]:
df = train[columns]

In [ ]:
def add_elapsed(fld, prefix):
    sh_el = elapsed(fld)
    df[prefix+fld] = df.apply(sh_el.get, axis=1)

In [ ]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [ ]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [ ]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [ ]:
df = df.set_index("Date")

In [ ]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [ ]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(pd.Timedelta(0)).dt.days

In [ ]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [ ]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [ ]:
df.drop(columns,1,inplace=True)
df.head()